@import url("../main/main.css");
.projects-section {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 50px;
  /*.project-menu:nth-child(5n+1) {
      border-left: solid var(--link-red) 8px;

      .project-title {
          text-decoration: underline var(--link-red) 7px;
      }
  }

  .project-menu:nth-child(5n+2) {
      border-left: solid var(--link-green) 8px;
      .project-title {
          text-decoration: underline var(--link-green) 7px;
      }
  }

  .project-menu:nth-child(5n+3) {
      border-left: solid var(--link-blue) 8px;
      .project-title {
          text-decoration: underline var(--link-blue) 7px;
      }
  }

  .project-menu:nth-child(5n+4) {
      border-left: solid var(--link-orange) 8px;
      .project-title {
          text-decoration: underline var(--link-orange) 7px;
      }
  }

  .project-menu:nth-child(5n+5) {
      border-left: solid var(--link-yellow) 8px;
      .project-title {
          text-decoration: underline var(--link-yellow) 7px;
      }
  }*/
}
.projects-section .project-menu {
  background: white;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 0 1em 1em 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  /*#inside-the-dark-image {
      width: 100%;
  }*/
}
.projects-section .project-menu .project-image {
  border-radius: 0.5em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  grid-column: 1/2;
  grid-row: 1/5;
  justify-self: center;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.projects-section .project-menu #jasu-research-image {
  max-width: 95%;
  max-height: 95%;
}
.projects-section .project-menu .project-title {
  grid-column: 2/3;
  grid-row: 1/2;
  background: var(--header-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  justify-self: center;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
.projects-section .project-menu .project-description {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.2em;
}
.projects-section .project-menu .project-links-section {
  grid-column: 2/3;
  grid-row: 3/4;
  row-gap: 5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
  justify-self: left bottom;
}
.projects-section .project-menu .project-links-section .project-link {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 5px;
  border-radius: 1em;
  background: var(--darker-background-color);
  max-width: 200px;
  max-height: 40px;
  align-items: center;
  justify-content: center;
  transition-duration: 400ms;
}
.projects-section .project-menu .project-links-section .project-link img {
  width: 15%;
  justify-self: left;
}
.projects-section .project-menu .project-links-section .project-link p {
  text-align: center;
  display: table-cell;
}
.projects-section .project-menu .project-links-section .project-link:hover {
  background-color: var(--dark-background-color);
  color: white;
}
.projects-section .project-menu .tags-section {
  grid-column: 2/3;
  grid-row: 4/5;
}
.projects-section .project-menu .tags-section .tags-list {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(auto, 170px));
  justify-self: right;
  justify-content: end;
}
.projects-section .project-menu .tags-section .tags-list li {
  text-align: center;
  vertical-align: center;
  margin: 7px;
  padding: 8px;
  border-radius: 1em;
  font-size: 1em;
  color: rgb(88, 88, 88);
  background: rgb(190, 190, 190);
}

@media only screen and (max-width: 1130px) {
  .projects-section .project-menu .project-image {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .projects-section .project-menu .project-title {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .projects-section .project-menu .project-description {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .projects-section .project-menu .project-links-section {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .projects-section .project-menu .tags-section {
    grid-column: 1/2;
    grid-row: 7/8;
  }
}/*# sourceMappingURL=projects.css.map */