@import url("../main/main.css");

#header {
    background: var(--bright-header);
    font-weight: bold;
    color: white;
    text-shadow: 0px 2px black;
    justify-self: center;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    border-radius: 0 0.3em 0.3em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#header-in-text {
    font-weight: bold;
}

.main-container {
    margin: 3%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .poster-container {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        #poster-image {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .outside-poster-container {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;

        .header-container {
            .header {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .description-container {
            background: var(--slightly-darker-background-color);
            border-left: solid var(--link-blue) 8px;
            border-radius: 0 0.3em 0.3em 0;
            padding: 9px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

            .description-text {
                .awards-list {
                    padding-left: .7em
                }
            }

            .description-button {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
                background: #1488cc;
                border-radius: 2em;
                color: white;
                
                justify-self: center;
                text-align: center;
                font-size: 1.3em;
                font-weight: bold;

                transition: background .5s ease;
            }

            .description-button:hover {
                background: var(--dark-background-color);
            }
        }

        .explanation-video-container {
            .header-container {
                margin-top: 30px;
                margin-bottom: 5px;
            }

            .explanation-video-player {
                width:100%;
                height:auto;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        .navbar-container {
            padding-top: 0px;

            .navbar-list {
                flex-direction: column;

                li {
                    padding: 1px;
                }
            }

            a {
                font-size: 1.4em;
            }
        }
    }

    #header {
        font-size: 1.5em;
    }

    .main-container {
        display: flex;
        flex-direction: column;

        .header-container {
            margin-top: 20px;
            .header {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}

