@import url("../main/main.css");

.papers-section {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 0 15% 50px 15%;

    .paper-table {
        width: 100%;

        background: white;
        border-radius: 1em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;

        .paper-colgroup { 
            .img-col {
                width: 30%;
            }
            .description-col {
                width: 70%;
            }
        }

        .image-row {
            .preview-cell {
                .preview {
                    display: block;
                    width: 95%;
                    height: 95%;
                }
            }

            .title {
                background: var(--header-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
                font-size: 1.2em;
                margin: 0;
                vertical-align: bottom;
            }
        }

        .author-row {
            .authors-cell {
                vertical-align: top;
            }
        }
        .submission-row {
            font-style: italic;
            .submission-cell {
                vertical-align: bottom;
            }
        }
        .links-row {
            .links-cell {
                font-size: 1.2em;
                font-family: monospace;
                vertical-align: top;
            }
        }
    }

    .paper-phone {
        background: white;
        border-radius: 1em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        padding: 20px;

        display: flex;
        align-content: space-between;
        column-gap: 20px;

        .preview {
            border-radius: 0.5em;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            vertical-align: middle;
            flex: 50%;
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .paper-description {
            .title {
                background: var(--header-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
                font-size: 1.2em;
                margin: 0;
            }

            .authors {
                margin: 0;
            }

            .journal {
                font-style: italic;
                margin: 0;
            }

            .paper-links {
                .paper-link {
                    font-size: 1.2em;
                    font-family: monospace;
                }
                margin: 0;
                margin-top: 10px;
            }

            display: flex;
            flex-direction: column;
            align-items: left; 
            justify-content: center;
        }

        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .papers-section {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin: 0 5% 50px 5%;

        .paper-table {
            display: none;
        }
        .paper-phone { 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 10px;
        }
    }
}