@import url("../main/main.css");

.papers-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px; 
    margin: 0 15% 50px 15%;

    .paper-card {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        gap: 20px; 

        border-bottom: 1px solid #ddd;
        padding-bottom: 20px; 
    }

    .paper-image-container {
        flex: 0 0 160px; 
        height: 125px;   
        display: flex; 
        align-items: center;
        justify-content: center;

        .preview {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            border-radius: 0.5em;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); 
        }
    }
    
    .paper-details {
        flex: 1; 
        display: flex;
        flex-direction: column;
        justify-content: center; 

        font-style: italic;
        font-size: 0.9em;
        color: #555;
        margin-bottom: 8px; 

        par {
            display: block; 
            font-style: italic;
            font-size: 0.9em;
            color: #555;
            margin: 5px 0;
        }

        .title {
            color: #222;
            font-weight: bold;
            font-size: 1.25em; 
            margin: 0 0 5px 0;
            font-style: normal; 
        }

        .authors {
            margin: 0 0 8px 0; 
            font-size: 0.9em;
            color: #555;
            font-style: normal; 
            
            a {
                color: inherit; 
                text-decoration: none; 
                
                &:hover {
                    text-decoration: underline; 
                }
            }
        }

        .paper-links {
            font-style: normal; 
            margin-top: 5px; 

            .paper-link {
                font-size: 1.1em; 
                font-family: monospace;
                
                &:hover {
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .papers-section {
        margin: 0 5% 50px 5%;

        .paper-card {
            flex-direction: column;
            align-items: flex-start; 
            gap: 15px;

            .paper-image-container {
                width: 100%; 
                height: auto; 
                max-width: 300px; 
                align-self: center; 
            }
        }
    }
}