@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --background-color: #ffffff;
  --slightly-darker-background-color: #fafafa;
  --darker-background-color: #f1f2f6;
  --black-text-color: #2f3542;
  --neutral-text-color: rgb(98, 98, 98);
  --main-color: #70a1ff;
  --darker-main-color: #1e90ff;
  --dark-background-color: #57606f;
  --color-variation1: #ff4757;
  --color-variation2: #e67e22;
  --color-variation3: #f1c40f;
  --color-variation4: #9b59b6;
  --bronze-color: #F4B183;
  --bronze-color-brighter: #eeb48e;
  --silver-color: #ADB9CA;
  --silver-color-brighter: rgb(181, 198, 219);
  --gold-color: #FFD966;
  --gold-color-brighter: #fddc77;
  --main-color-gradient: linear-gradient(to right, #1488cc, #2b32b2);
  --bronze-gradient: linear-gradient(var(--bronze-color), var(--bronze-color-brighter));
  --silver-gradient: linear-gradient(var(--silver-color), var(--silver-color-brighter));
  --gold-gradient: linear-gradient(var(--gold-color), var(--gold-color-brighter));
  --header-gradient: linear-gradient(to right, #232526, #414345);
  --light-gradient: linear-gradient(to right, var(--slightly-darker-background-color), var(--darker-background-color));
  --dark-gradient: linear-gradient(to right, #780206, #061161);
  --bright-header: linear-gradient(to right, #12C2E9, #C471ED, #F0C044);
  --link-red: #ff6b81;
  --link-orange: #ff7f50;
  --link-green: #7bed9f;
  --link-blue: #70a1ff;
  --link-yellow: #feca57;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

body {
  background: var(--background-color);
  margin: 0;
  font-family: 'Poppins';
  color: var(--black-text-color);
  -webkit-animation: transitionIn 750ms;
          animation: transitionIn 750ms;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black-text-color);
}

#link-red {
  -webkit-text-decoration: underline var(--link-red) 4px;
          text-decoration: underline var(--link-red) 4px;
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#link-red:hover {
  background-color: var(--link-red);
}

#link-green {
  -webkit-text-decoration: underline var(--link-green) 4px;
          text-decoration: underline var(--link-green) 4px;
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#link-green:hover {
  background-color: var(--link-green);
}

#link-blue {
  -webkit-text-decoration: underline var(--link-blue) 4px;
          text-decoration: underline var(--link-blue) 4px;
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#link-blue:hover {
  background-color: var(--link-blue);
}

#link-orange {
  -webkit-text-decoration: underline var(--link-orange) 4px;
          text-decoration: underline var(--link-orange) 4px;
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#link-orange:hover {
  background-color: var(--link-orange);
}

#link-yellow {
  -webkit-text-decoration: underline var(--link-yellow) 4px;
          text-decoration: underline var(--link-yellow) 4px;
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#link-yellow:hover {
  background-color: var(--link-yellow);
}

.color-border:nth-child(5n) {
  border-left: solid var(--link-red) 5px;
}

.color-border:nth-child(5n+1) {
  border-left: solid var(--link-blue) 5px;
}

.color-border:nth-child(5n+2) {
  border-left: solid var(--link-green) 5px;
}

.color-border:nth-child(5n+3) {
  border-left: solid var(--link-orange) 5px;
}

.color-border:nth-child(5n+4) {
  border-left: solid var(--link-yellow) 5px;
}

.navbar {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75em 0 0.75em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
  background: var(--dark-gradient);
}

.navbar .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-top: 5px;
}

.navbar .navbar-container .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-container .navbar-list li {
  text-transform: uppercase;
}

.navbar .navbar-container .navbar-list .current {
  font-weight: bold;
  -webkit-text-decoration: underline var(--color-variation1) 7px;
          text-decoration: underline var(--color-variation1) 7px;
}

.navbar .navbar-container a {
  font-size: 1.8em;
  padding: .1em 1em;
  color: var(--darker-background-color);
}

@media only screen and (max-width: 1130px) {
  .navbar .navbar-container {
    padding-top: 0px;
  }
  .navbar .navbar-container .navbar-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navbar-container .navbar-list li {
    padding: 1px;
  }
  .navbar .navbar-container a {
    font-size: 1.4em;
  }
}
/*# sourceMappingURL=main.css.map */