@import url("../common/common.css");

// Defining the table header style
.table-header {
    font-size: 3em;
    margin: auto;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline var(--table-color-gradient) 7px;
}

// Description block above the table
.table-description {
    font-size: 1.5em;
    margin: auto;
    padding: 10px 10% 0 10%;
}

// We do not display the table on non-mobile devices
.achievement-table-phone {
    display: none;
}

// Defining widths of columns
.achievement-table {
    .achievement {
        width: 30%;
    }
    .year {
        width: 10%;
    }
    .subject {
        width: 20%;
    }
    .level {
        width: 15%;
    }
    .place {
        width: 19%;
    }
    .medal {
        width: 6%;
    }
}

// Defining the table style
.achievement-table, .achievement-table-phone {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    // Margin settings
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;

    // Table header style
    td {
        padding: 20px 25px;
    }

    // Table header style
    .achievement-thead {
        font-weight: bold;
        background: var(--table-color-gradient);
        color: white;
        text-align: center;
        font-size: 1.25em;
    }

    .achievement-tbody {
        color: var(--black-text-color);
        text-align: center;
        
        // Adding bottom border to rows
        tr {
            border-bottom: 2px solid #949494;

            // Adding bottom border to the last row
            &:last-of-type {
                border-bottom: 5px solid var(--main-color);
            }
        }

        // Adding alternating row colors
        tr:nth-child(2n + 1) {
            background-color: var(--background-color);
        }

        tr:nth-child(2n + 2) {
            background-color: var(--darker-background-color);
        }

        // Making result title bold
        .medal-title {
            font-weight: bold;
        }

        .neutral {
            font-weight: bold;
            .neutral-medal-image {
                width: 100%;
                vertical-align: middle;
            }
        }

        .bronze-medal {
            background: var(--bronze-gradient);
            font-weight: bold;

            .bronze-medal-image {
                width: 100%;
                vertical-align: middle;
            }
        }

        .silver-medal {
            background: var(--silver-gradient);
            font-weight: bold;

            .silver-medal-image {
                width: 100%;
                vertical-align: middle;
            }
        }

        .gold-medal {
            background: var(--gold-gradient);
            font-weight: bold;
            
            .gold-medal-image {
                width: 100%;
                vertical-align: middle;
            }
        }
    }
}

@media only screen and (max-width: 1130px) {
    .achievement-table {
        display: none;
    }

    .achievement-table-phone {
        display: table;
        font-size: 1em;

        padding: 0;
        margin: auto;
        margin-bottom: 30px;

        .achievement-thead {
            font-size: 1.05em;
        }

        .achievement-tbody {
            tr {
                border-bottom: 10px solid var(--darker-background-color);
                
                .bronze-medal-phone {
                    font-weight: bold;
                    background: var(--bronze-gradient);
                    margin: 5px;
                    border-radius: 0.5em;
                }

                .silver-medal-phone {
                    font-weight: bold;
                    background: var(--silver-gradient);
                    margin: 5px;
                    border-radius: 0.5em;
                }

                .gold-medal-phone {
                    font-weight: bold;
                    background: var(--gold-gradient);
                    margin: 5px;
                    border-radius: 0.5em;
                }
            }
        }
    }

    .table-description {
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 20px;

        padding: 0px 10px 0 10px;
    }
}